<!-- Search -->

<!-- Filters -->
<div class="scroll-menu">
  <app-filter-spell-class></app-filter-spell-class>
</div>

<div class="mt-2 row justify-content-center">
  <!-- Name filter -->
  <div class="col-lg-6 col-10">
    <app-search searchTitle='Search Spells'></app-search>
  </div>

  <!-- Collapse -->
  <button mat-icon-button class="btn d-lg-none" data-toggle="collapse" data-target="#collapse-filter" aria-label="Show Filters">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<div id="collapse-filter" class="row justify-content-center collapse d-lg-flex">
  <!-- Dynamic filters -->
  <div *ngFor="let filter of filterArray" class="col-lg-2 col-4 filter-grid">
    <app-filter-spell-list-generic
      [filterTitle]="filter.title"
      [filterKey]="filter.key"
      [filterOptions]="filter.list"
      [filterPipe]="filter.pipe"
    ></app-filter-spell-list-generic>
  </div>
</div>

<!-- Reset filter -->
<div class="row pb-2">
  <div class="col text-right">
    <button mat-button color="primary" (click)="clearSpellFilter()">Reset Filter</button>
  </div>
</div>

<!-- Show all spells -->
<app-spell-list></app-spell-list>
<app-spell-modal></app-spell-modal>
