<ng-template #spellModalContent let-modal>
  <div class="modal-header align-text-bottom">
    <span *ngIf="loggedIn">
      <mat-icon *ngIf="!favourite" class="fav-icon" aria-hidden="false" aria-label="Favourite" (click)="$event.stopPropagation();favouriteSpell(spell.id, true);">star_border</mat-icon>
      <mat-icon *ngIf="favourite" class="fav-icon" aria-hidden="false" aria-label="Favourite" (click)="$event.stopPropagation();favouriteSpell(spell.id, false);">star</mat-icon>
    </span>
    <h4 class="modal-title ml-4 my-0">{{ spell.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr><td colspan="2" class="modal-row-level">{{ spell.level | spellLevelDisplay: spell.school: spell.ritual }}</td></tr>
        <tr>
          <td class="modal-row-title">Casting Time</td>
          <td class="modal-row-data">{{ spell.cast_time }}</td>
        </tr>
        <tr>
          <td class="modal-row-title">Range</td>
          <td class="modal-row-data">{{ spell.range }}</td>
        </tr>
        <tr>
          <td class="modal-row-title">Components</td>
          <td class="modal-row-data">{{ spell.components }}</td>
        </tr>
        <tr>
          <td class="modal-row-title">Duration</td>
          <td class="modal-row-data">{{ spell.duration }}</td>
        </tr>
        <tr>
          <td colspan="2" [innerHTML]="spell.description"></td>
        </tr>
        <tr *ngIf="loggedIn">
          <td colspan="2" class="p-0">
            <mat-form-field class="label-list p-0" appearance="fill">
              <mat-label>Spell Labels</mat-label>
              <mat-chip-list #labelList aria-label="Spell labels">
                <mat-chip *ngFor="let label of labels" (removed)="removeLabel(label)">
                  {{label.description}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add label..."
                       [matChipInputFor]="labelList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addLabel($event)">
              </mat-chip-list>
            </mat-form-field>
          </td>
        </tr>
        <tr *ngIf="spell.visual">
          <td class="modal-row-title">Visual</td>
          <td [innerHTML]="spell.visual"></td>
        </tr>
        <tr>
          <td class="modal-row-title">Classes</td>
          <td class="modal-row-data">{{ spell.classes | listSplit }}</td>
        </tr>
        <tr>
          <td class="modal-row-title">Reference</td>
          <td class="modal-row-data">{{ spell.page }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
