.modal-title {
  color: rgb(130, 0, 0) !important;
  font-size: 2rem;
}

.modal-row-title {
  width: 20%;
  font-weight: bold;
}

.modal-row-data {
  width: auto;
}

.modal-row-level {
  font-style: italic;
}

.fav-icon {
  transform: scale(2);
  vertical-align: text-top;
  cursor: pointer;
}
