<!-- Spell list -->
<div *ngIf="spells.length > 0" class="table-responsive">
  <table matSort (matSortChange)="sortData($event)" class="table table-sm table-hover no-select">
    <thead class="thead-light">
      <tr class="d-flex">
        <th mat-sort-header="name" class="col-md-3 col-sm-5 col-5">Name</th>
        <th mat-sort-header="level" class="col-md-1 col-sm-1 col-1">Lvl</th>
        <th mat-sort-header="cast_time" class="col-md-1 col-sm-3 col-3">Casttime</th>
        <th mat-sort-header="attack_type" class="col-md-1 d-none d-md-table-cell">Attack</th>
        <th mat-sort-header="save_type" class="col-md-2 d-none d-md-table-cell">Save</th>
        <th mat-sort-header="damage_type" class="col-md-1 d-none d-md-table-cell">Damage</th>
        <th mat-sort-header="condition_type" class="col-md-2 d-none d-md-table-cell">Condition</th>
        <th mat-sort-header="components" class="col-md-1 col-sm-3 col-3">Comp</th>
      </tr>
    </thead>
    <tbody>
      <div *ngFor="let spell of spells; index as idx" (click)="openSpellModal(spell.id)">
        <div *ngIf="checkFilter(spell)">
          <tr class="d-flex">
            <td class="col-md-3 col-sm-5 col-5">
              <span *ngIf="loggedIn">
                <mat-icon *ngIf="!favSpells.includes(spell.id)" class="fav-icon" aria-hidden="false" aria-label="Favourite" (click)="$event.stopPropagation();favouriteSpell(spell.id, true);">star_border</mat-icon>
                <mat-icon *ngIf="favSpells.includes(spell.id)" class="fav-icon" aria-hidden="false" aria-label="Favourite" (click)="$event.stopPropagation();favouriteSpell(spell.id, false);">star</mat-icon>
              </span>
              {{ spell.name }}
            </td>
            <td class="col-md-1 col-sm-1 col-1">{{ spell.level }}</td>
            <td class="col-md-1 col-sm-3 col-3">{{ spell.cast_time | spellCasttime }}</td>
            <td class="col-md-1 d-none d-md-table-cell">{{ spell.attack_type | listSplit }}</td>
            <td class="col-md-2 d-none d-md-table-cell">{{ spell.save_type | listSplit }}</td>
            <td class="col-md-1 d-none d-md-table-cell">{{ spell.damage_type | listSplit }}</td>
            <td class="col-md-2 d-none d-md-table-cell">{{ spell.condition_type | listSplit }}</td>
            <td class="col-md-1 col-sm-3 col-3">{{ spell.components | spellComponents }}</td>
          </tr>
          <tr class="d-flex" *ngIf="loggedIn && hasLabels(spell.id)">
            <td class="col-12 no-border">
              <mat-chip-list #labelList aria-label="Spell labels">
                <mat-chip *ngFor="let label of getLabels(spell.id)">
                  {{label.description}}
                </mat-chip>
              </mat-chip-list>
            </td>
          </tr>
        </div>
      </div>
    </tbody>
  </table>
</div>
<div *ngIf="spells.length === 0" class="my-3 text-center">
  There are no spells in this list!
</div>
