<!-- Spell list -->
<div *ngIf="spells.length > 0" class="table-responsive">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr class="d-flex">
        <th class="col-md-6 col-sm-6">Name</th>
        <th class="col-md-1 col-sm-3">Casttime</th>
        <th class="col-md-2 d-none d-md-table-cell">DMG/EFCT</th>
        <th class="col-md-2 d-none d-md-table-cell">ATK/SAVE</th>
        <th class="col-md-1 col-sm-3">Components</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spell of spells; index as idx" (click)="openSpellModal(spell.ID)" class="d-flex">
        <td class="col-md-6 col-sm-6">{{ spell.NAME }}</td>
        <td class="col-md-1 col-sm-3">{{ spell.CASTTIME | spellCasttime: spell.DURATION }}</td>
        <td class="col-md-2 d-none d-md-table-cell">{{ spell.DAMAGE }}</td>
        <td class="col-md-2 d-none d-md-table-cell">{{ spell.ATTACKSAVE }}</td>
        <td class="col-md-1 col-sm-3">{{ spell.COMPONENTS | spellComponents }}</td>
      </tr>
    </tbody>
  </table>
</div>
