<div class='table-responsive'>
  <table class='table table-sm table-hover no-select'>
    <thead class='thead-light'>
      <tr>
        <th class="align-middle col-md-3 col-3">Name</th>
        <th class="align-middle col-md-3 d-none d-md-table-cell">Email</th>
        <th class="align-middle col-md-2 d-none d-md-table-cell">Created</th>
        <th class="align-middle col-md-2 col-2">Activity</th>
        <th class="col-md-1 col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="align-middle col-md-3 col-3">{{ user.username }}</td>
        <td class="align-middle col-md-3 d-none d-md-table-cell">{{ user.email }}</td>
        <td class="align-middle col-md-2 d-none d-md-table-cell">{{ user.created * 1000 | date }}</td>
        <td class="align-middle col-md-2 col-2">{{ user.activity * 1000 | date }}</td>
        <td class="align-middle col-md-1 col-1 text-center">
          <button mat-icon-button aria-label="Delete campaign" (click)="confirmDeleteDialog(user.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
